<ion-header>
  <ion-toolbar>
    <ion-title>courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item 
      class="item"
      *ngFor="let course of courses;"
      [routerLink]="['/scorecard', course.course_id]">

      <span class="spacer">
        {{ course.name }}
      </span>

      <ion-icon 
        name="search" 
        color="primary" 
        [routerLink]="['/course-detail', course.course_id]">
      </ion-icon>

    </ion-item>
  </ion-list>

</ion-content>